name: test

on: [push]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install xmllint
      run: sudo apt-get install libxml2-utils
    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install cram lxml
    - name: Testing the code with cram
      run: |
        cram test/*.t
